.block {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__title {
		font-size: 25px;
		margin-top: 20px;
		color: white;
	}

	&__content {
		margin-top: 50px;
	}

	&__item {
		margin-top: 30px;
		display: flex;
		justify-content: center;
	}
}

.example-form {
	width: 100%;
	text-align: center;
	min-width: 150px;
	max-width: 500px;
	box-shadow: 0 0 8px 4px rgb(255 255 255 / 20%);
	margin-top: 50px;
	padding: 20px;
	background-color: grey;
	border-radius: 15px;
}

.example-full-width {
	width: 100%;
}

.wrap-btn {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
