.users {
 display: flex;
 height: 100%;
 flex-direction: column;
 justify-content: space-between;

 &__footer {
  display: inline-block;
  height: 100px;
 }
}

.mdc-card {
 align-items: center;
 flex-direction: row;
 justify-content: space-between;
 margin-bottom: 10px;

  &__media {
    width: 42px;
    height: 42px;
  }
}


.mat-mdc-card {
 padding: 10px;
 }

.mat-mdc-card-content {
 display: flex;
 flex-direction: column;
 width: 100%;

 & p {
  &:first-child {
   font-size: 18px;
  }
 }
}
