<div class="block">
  <div class="block__title">Login form</div>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        required
        formControlName="email"
        matInput
        placeholder="Ex. pat@example.com"
      />
      <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" required formControlName="password" matInput placeholder="password" />
      <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
        Please enter a valid password
      </mat-error>
      <mat-error *ngIf="loginForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="wrap-btn">
      <button type="submit" mat-raised-button color="accent">sing in</button>
    </div>
  </form>
</div>
