<section class="users">
  <ng-container *ngFor="let user of users$ | async">
    <mat-card>
      <!--      <img mat-card-image src="{{ user.photos.small }}" (error)="(avaDefault)" alt="User Avatar" />-->
      <img
        *ngIf="!user.photos.small"
        ngSrc="{{ imgDefault }}"
        alt="User Avatar"
        height="42"
        width="42"
      />
      <img
        *ngIf="user.photos.small"
        ngSrc="{{ user.photos.small }}"
        alt="User Avatar"
        height="42"
        width="42"
      />
      <mat-card-content>
        <p>{{ user.name }}</p>
        <p>status:{{ user.status }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="user.followed" (click)="unfollowUser(user.id)" mat-button color="primary">
          unfollow
        </button>
        <button *ngIf="!user.followed" (click)="onFollowUser(user.id)" mat-button color="accent">
          follow
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <div class="users__footer">
    <mat-paginator
      (page)="onChangePagination($event)"
      [length]="totalCount$ | async"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
