
.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
}



.main {
	display: flex;
	width: 900px;
  height: 100%;
  margin: 20px auto 0;
}


.content {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px 0 rgb(34 60 80 / 20%);
	border-radius: 5px;
	margin-left: 15px;
	padding: 15px 15px 0;
}
