
.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
}



.main {
	display: flex;
	width: 900px;
  height: 100%;
  margin: 20px auto 0;
}


.content {
	width: 100%;
	height: 100%;
  margin-left: 15px;
}
