<div class="profile">
  <div class="profile__block" *ngIf="profile$ | async as profile">
    <h2 class="profile__title">{{ profile.fullName }}</h2>
    <soc-profile-status
      (statusUpdated)="saveStatus($event)"
      status="{{ status$ | async }}"
    ></soc-profile-status>
    <mat-card class="example-card">
      <img
        [src]="profile.photos.large"
        mat-card-image
        *ngIf="profile.photos.large"
        alt="user Photo"
        width="250"
        height="250"
      />
      <img
        mat-card-image
        *ngIf="!profile.photos.large"
        [src]="imgDefault"
        width="250"
        height="250"
        alt="user Photo"
      />
    </mat-card>
    <mat-card-actions>
      <input (change)="updateProfilePhoto($event)" type="file" accept="*/*" />
      <button mat-raised-button (click)="uploadedProfilePhoto()">update photo</button>
    </mat-card-actions>
  </div>
  <div class="profile__content" *ngIf="profile$ | async as profile">
    <h3 class="profile__subTitle">User Info</h3>
    <div class="profile__wrap">
      <div class="profile__item">about: {{ profile.aboutMe }}</div>
      <div class="profile__item">looking for a job: {{ profile.lookingForAJob }}</div>
      <div class="profile__item">description job: {{ profile.lookingForAJobDescription }}</div>
    </div>
    <div class="profile__wrap">
      <h4 class="profile__linkTitle">Social link:</h4>
      <div class="profile__item" *ngIf="profile.contacts.facebook">
        <span>facebook:</span>
        <span>{{ profile.contacts.facebook }}</span>
      </div>
      <div class="profile__item" *ngIf="profile.contacts.github">
        <span>github:</span>
        <span>{{ profile.contacts.github }}</span>
      </div>
      <div class="profile__item" *ngIf="profile.contacts.instagram">
        <span>instagram:</span>
        <span>{{ profile.contacts.instagram }}</span>
      </div>
      <div class="profile__item" *ngIf="profile.contacts.twitter">
        <span>twitter:</span>
        <span>{{ profile.contacts.twitter }}</span>
      </div>
      <div class="profile__item" *ngIf="profile.contacts.twitter">
        <span>twitter:</span>
        <span>{{ profile.contacts.twitter }}</span>
      </div>
      <div class="profile__item" *ngIf="profile.contacts.youtube">
        <span>youtube:</span>
        <span>{{ profile.contacts.youtube }}</span>
      </div>
      <div class="profile__item" *ngIf="profile.contacts.vk">
        <span>vk:</span>
        <span>{{ profile.contacts.vk }}</span>
      </div>
      <div class="profile__item" *ngIf="profile.contacts.website">
        <span>website:</span>
        <span>{{ profile.contacts.website }}</span>
      </div>
      <div class="profile__item" *ngIf="profile.contacts.mainLink">
        <span>mainLink:</span>
        <span>{{ profile.contacts.mainLink }}</span>
      </div>
    </div>
  </div>
</div>
