<div class="profile">
  <div class="profile__block">
    <h2 class="profile__title">User Name</h2>
    <mat-card class="example-card">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
    </mat-card>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </div>
  <div class="profile__content">{{ profile$ | json }}</div>
</div>
